@import "./modules/navbar.css";

#profile-container {
	padding: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.profile {
	border: double 3px grey;
	width: 500px;
	min-height: 250px;
	padding: 10px;
	display: grid;
	grid-template-columns: 180px auto;
	margin: 8px;
	flex-basis: 500px;
}

.propic {
	width: 150px;
	padding-top: 10px;
}

.profile-body {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.label {
	color: #aaaaaa;
	font-size: 10px;
}

.content {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}

select:has(option:disabled:checked[hidden]) {
	color: #595c5f;
}

#filters {
	display: flex;
	justify-content: center;
}

.filter-container {
	padding-top: 10px;
}

.filter-container > * {
	margin: 8px;
}
