.navbar-brand {
  font-size: 30px;
  padding-left: 1vw;
}

#announcement,
#weather {
  margin: 1.3vw;
  border: 5px solid gray;
  height:90vh;
}

.anc {
  border: 2px solid #999;
  margin:8px 0px
}

.anc > .note {
  font-size: 10px;
  color: #BBBBBB;
  display:flex;
  justify-content: flex-end;
}