#announcement,
#weather {
  margin: 1.3vw;
  border: 5px solid gray;
  height: 80vh;
  max-width: 95vw;
}

.annc {
  margin: 8px 0px;
}

.annc > .note {
  font-size: 10px;
  text-align: center;
}

.annc-header {
  text-align: center;
}

.flex-container {
  display: flex;
}
