#announcement,
#weather {
  margin: 1.3vw;
  border: 5px solid gray;
  height: 80vh;
  max-width: 95vw;
}

.ancmt {
  margin: 8px 0px;
}

.ancmt > .note {
  font-size: 10px;
  text-align: center;
}

.ancmt-header {
  text-align: center;
}

.flex-container-center {
  display: flex;
  justify-content: center;
}

.flex-container-end {
  display: flex;
  justify-content: flex-end;
}

.welcome {
  color: azure;
  padding: 0.375rem 0.75rem;
}
